:root {
  --item-width: 200px;
  --item-height: 200px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.4 sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.load-more-btn {
  display: inline-block;
  background-color: #222;
  padding: 1em 2em;
  text-decoration: none;
  color: #eee;
}

.skeleton-wraper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1em;
  width: 90%;
  height: auto;
}
.skeleton-item-wrapper {
  width: var(--item-width);
  height: var(--item-height);
}
.skeleton-item {
  width: 100%;
  height: 100%;
  background-color: rgb(210, 186, 157);
  opacity: 0;
}

.skeleton-item-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: none;
  opacity: 0;
}

.fadeImage {
  animation: fade 1s ease forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeAll {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
