*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.load-more-btn {
  display: inline-block;
  margin: 0 auto;
  background-color: #222;
  padding: 1em 2em;
  text-decoration: none;
  color: #eee;
}

.skeleton-wraper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.skeleton-item-wrapper {
  width: 200px;
  height: 200px;
}
.skeleton-item {
  width: 100%;
  height: 100%;
  background-color: rgb(210, 186, 157);
  opacity: 0;
}

.skeleton-item-wrapper img {
  width: 200px;
  height: auto;
  object-fit: cover;
  display: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeAll {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
